body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 3.5rem;
    background-color: #c7601b;
    padding: 0 1.5rem;
    color: white;
}

nav {
    align-items: center;
    display: flex;
    background-color: #c7601b;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: white
}

a:hover, a:active, a.active {
    color: yellow;
}

main {
    padding: 1rem;
}