<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css"></link>
</head>
<body>
    <header>
        <h1>Users</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/users">Users</a></li>
        </ul>
    </nav>
    <main>
        <h2>Usernames:</h2>
        <% if (users.length > 0) { %>
            <ul>
                <% users.forEach((user) => { %>
                    <li><%= user.name %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No users found</h1>
        <% } %>
    </main>
</body>
</html>